@use "./common/mixins.scss" as *;
@use "./common/componentVar.scss" as *;
@include b(modal) {
  padding: 15vh 0;
  margin: 0 auto;
  width: 450px;
  box-sizing: border-box;
  @include s((fixed-screen)) {
    height: 100%;
    padding: 10vh 0;
    @include e(wrap, false) {
      display: flex;
      flex-direction: column;
      max-height: 100%;
    }
    @include e(body, false) {
      flex: 1;
      height: 0;
      display: flex;
    }
    @include e(render-content, false) {
      overflow-y: auto;
      width: 100%;
    }
  }
  @include e(wrap) {
    background-color: #fff;
    border-radius: 12px;
  }
  @include e(header) {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include e(body) {
    padding: 0 24px 24px;
    font-size: 14px;
    line-height: 1.6;
    word-break: break-word;
  }
  @include e(footer) {
    padding: 0 24px 16px;
    text-align: right;
  }
  @include e(title) {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
  }
  @include e(close) {
    opacity: .5;
    font-size: 10px;
    cursor: pointer;
  }
}

.a-modal-enter-from, .a-modal-leave-to { opacity: 0; }
.a-modal-enter-active .a-modal { animation: dialogFadeIn .2s; }
.a-modal-leave-active .a-modal { animation: dialogFadeOut .2s; }
@keyframes dialogFadeIn {
  0% { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes dialogFadeOut {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-30px); opacity: 0; }
}
